html, body {
    margin: 0 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.odd {
    background-color: #eee;
}

.even {
    background-color: #ccc;
}

table {
    width: 100%;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 0 0;
    border-collapse: collapse;
}

tr {
    margin: 0 0;
}

.header {
    font-weight: bold;
    text-align: right;
    width: 25%;
    word-break: break-word;
    border-right: 1px solid #888;
}

.content {
    text-align: left;
    width: 75%;
    word-break: break-all;
}

td {
    padding: 5px 5px;
    margin: 0 0;
}