@keyframes fadeInBody {
    0% {
        background: #373737;
        opacity: 0;
    }
    100% {
        background: url(01.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 0;
        background-position-y: 0;
        background-size: cover;
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.login-submit, .login-submit:before, .login-submit:after {
    background: #373737;
}

body {
    color: #404040;
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    animation-name: fadeInBody;
    animation-delay: 0.0s;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    -moz-animation-name: fadeInBody;
    -moz-animation-delay: 0.0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-name: fadeInBody;
    -webkit-animation-delay: 0.0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;

}

.login-card {
    background: #373737;
    width: 500px;
    margin: 100px auto;
    padding: 2px 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    border-radius: 15px;
    animation-name: fadeIn;
    animation-delay: 0.75s;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    -moz-animation-name: fadeIn;
    -moz-animation-delay: 0.75s;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-name: fadeIn;
    -webkit-animation-delay: 0.75s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
}

.title {
    position: relative;
    margin: 100px auto;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #a8a7a8;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.8);
}

.login {
    position: relative;
    margin: 80px auto;
    width: 400px;
    padding-right: 32px;
    font-weight: 300;
    color: #a8a7a8;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.8);
}

.login p {
    margin: 0 0 10px;
}

input, button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    padding: 0 10px;
    width: 400px;
    height: 40px;
    color: #bbb;
    text-shadow: 1px 1px 1px black;
    background: rgba(0,0,0,0.16);
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

input[type=text]:focus, input[type=password]:focus {
    color: white;
    background: rgba(0, 0, 0, 0.1);
    outline: 0;
}

.login-submit {
    position: absolute;
    top: 12px;
    right: 0px;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 32px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.login-submit:before, .login-submit:after {
    content: '';
    z-index: 1;
    position: absolute;
}

.login-submit:before {
    top: 28px;
    left: -4px;
    width: 4px;
    height: 10px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);    
}

.login-submit:after {
    top: -4px;
    bottom: -4px;
    right: -4px;
    width: 36px;
}

.login-button {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 48px;
    padding: 0 0 48px;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    background: none;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
}

.login-button:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #00a2d3;
    border-radius: 24px;
    -webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
}

.login-button:active:before {
    background: #0591ba;
}

.login-button:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 12px;
    width: 25px;
    height: 19px;
    background: url(arrow.png) 0 0 no-repeat;
}