html {
    top: 0px;
    left: 0px;
    margin: 0% 0%;
    padding: 0% 0%;
}

body {
    top: 0px;
    left: 0px;
    margin: 0% 0%;
    padding: 0% 0%;
    background-color: #a569bd;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.icon {
    position: relative;
    padding-top: 100px;
    color: white;
    text-align: center;
}

.message {
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    position: relative;
    font-size: 22px;
    text-align: center;
    color: white;
}

.button {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    display: block;
    align-content: center;
    justify-content: center;
    margin: 0% auto;
    background-color: white;
    border-radius: 100px;
    text-align: center;
    color: #a569bd;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    
}